body {
    display: block;
    justify-content: center;
    background: url("images/bg-01.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /*background: #f4f4f4;*/
    font-size: 14px;
    line-height: 1;
    color: #373737;
    height: 100%;
    min-width: 500px;

}

body:before{
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4a6690c7;
    position: fixed;
    opacity: 0.9;
}

.error-text-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.main-col{
    margin-right: 0;
    display: flex;
    justify-content: center;
    min-width: 350px;
}

.error-number{
    font-family: Barlow-Bold, sans-serif;
    color: white;
    font-size: 250px;
    display: flex;
    align-items: center;

}
.error-number:before{
    content: "\f1e2";
    font-family: FontAwesome, serif;
    font-size: 250px;
}
@media (max-width: 700px) {
    .error-number:before{
        display: none;
    }
}

.error-text{
    padding: 20px;
    font-family: Barlow-SemiBold, sans-serif;
    color: white;
    font-size: 30px;
}
@media (max-width: 2380px) {
    .main-col {
        width: 100%;
    }
}