<?xml version = "1.0" encoding = "UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="ConnectionPoolAppender" fileName="./logs/ConnectionPoolLog.log" append="true">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
        <File name="DaoAppender" fileName="logs/DaoLog.log" append="true">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
        <File name="ServiceAppender" fileName="logs/ServiceLog.log" append="true">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
    </Appenders>

<!--    <Loggers>-->
<!--        <Logger name="by.bsu.d0mpi.UP_PostGallery.pool" additivity="true" level="All">-->
<!--            <AppenderRef ref="ConnectionPoolAppender"/>-->
<!--        </Logger>-->
<!--    </Loggers>-->
</Configuration>
